<!-- <div *ngFor="let roster of rosters$ | async">
  <h3>{{ roster | json }} </h3>

</div>

<h3> {{ rosterEvent | async | json }}</h3> -->
<app-nav></app-nav>

<div class="center flex justify-around">
  <div class="w-25 pa2 mr2">
    <div
        class="button center"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div
        class="button center"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </div>
      <div
        class="button center"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  <div class="w-25 pa2 center">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
    <div class="w-25 pa2 mr2">
      <div
        class="button fr"
        (click)="view = 'month'"
        [class.active]="view === 'month'">
        Month
      </div>
      <div
        class="button fr"
        (click)="view = 'week'"
        [class.active]="view === 'week'">
        Week
      </div>
      <div
        class="button fr"
        (click)="view = 'day'"
        [class.active]="view === 'day'">
        Day
      </div>
    </div>
</div>
<br>


<hr/>

<div class="alert alert-info">
  Click on a day on the view.
<strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium' }}</strong>
</div>


<div [ngSwitch]="view">
  <!-- <h1 *ngIf="auth.user$ | async as user">{{user.displayName}}</h1> -->
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="rosters"
    [refresh]="refresh"
    (dayClicked)="clickedDate = $event.day.date"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="rosters"
    [refresh]="refresh"
    (dayClicked)="clickedDate = $event.day.date"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (dragPointerDown)="dragStart(weekViewContainer, event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="rosters"
    [refresh]="refresh"
    (dayClicked)="clickedDate = $event.day.date"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

