<div class="w-30 mt6 center">
<form [formGroup]="userForm"  *ngIf="newUser"  (ngSubmit)="signup()" class="">

  <h3>New User Signup</h3>
  <p class="button is-small" (click)="toggleForm()">Already Registered?</p>
  <hr>

  <div>
  <label class="f6 b db mb2" for="displayName">Display Name</label>
  <input type="text" id="displayName" class="input" formControlName="displayName" required >
  </div>      

  <label for="email">Email</label>
  <input type="email" id="email" class="input"
         formControlName="email" name="email" required >

  <div *ngIf="formErrors.email" class="notification is-danger">
    {{ formErrors.email }}
  </div>

  

  <label for="password" class="">Password</label>
  <input type="password" id="password" class="input"
         formControlName="password" required >

  <div *ngIf="formErrors.password" class="notification is-danger">
    {{ formErrors.password }}
  </div>

  <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>
  <button type="submit" class="button fl w-50 hover-bg-black hover-white" [disabled]="!userForm.valid">Sign Up</button>

  <button (click)="auth.googleLogin()" class="button btn-social btn-google fl w-50 hover-bg-black hover-white" >
    <i class="fa fa-google"></i> Connect Google
  </button>

</form>


<form [formGroup]="userForm"  *ngIf="!newUser"  (ngSubmit)="login()" >

  <h3>Existing User Login</h3>
  <p class="btn button is-small" (click)="toggleForm()">New User?</p>
  <hr>
  <label for="email">Email</label>
  <input type="email" id="email" class="input"
         formControlName="email" required >

  <div *ngIf="formErrors.email" class="help is-danger">
    {{ formErrors.email }}
  </div>

  <label for="password">Password</label>
  <input type="password" id="password" class="input"
         formControlName="password" required >

  <div *ngIf="formErrors.password" class="help is-danger">
    {{ formErrors.password }}
  </div>

  <div class="">
  <button type="submit" class="button fl w-50 hover-bg-black hover-white" [disabled]="!userForm.valid">Login</button>

  <button (click)="auth.googleLogin()" class="button btn-social btn-google fl w-50 hover-bg-black hover-white" >
      <i class="fa fa-google"></i> Connect Google
    </button>

  </div>
  
  <span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span>

</form>

 
</div>