<app-nav></app-nav>

<div class="ml3">
  <div class="">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          <div
            class="button"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Previous
          </div>
          <div
            class="button"
            mwlCalendarToday
            [(viewDate)]="viewDate">
            Today
          </div>
          <div
            class="button"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Next
          </div>
  </div>
  <hr/>
  <div class="alert alert-info">
      Click on a day.
    <div *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium' }}
      <button class="button" (click)="dayOffRequest(clickedDate)">Book this day</button>
      <button class="button" (click)="weekOffRequest(clickedDate)">Book this week</button>
    </div>
  </div>
    <hr/>

    
    <div id="calendarConatainer" class="fl w-80">
    <mwl-calendar-month-view
    class="pl8"
        [viewDate]="viewDate"
        [refresh]="refresh"
        [events]="holidays"
        (dayClicked)="clickedDate = $event.day.date"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
  </div>
</div>  