<!-- nav component -->
<app-nav></app-nav>

<!-- form for changing dates -->
<ng-template #changeDates let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add Department</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <label>New Date</label>
            <input class="input" type="date" formControlName="start">
            <input class="input" type="date" formControlName="end">
            <input class="input" type="hidden" formControlName="id">
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="updateHoliday();c('close click')">Add</button>
      <button type="button" class="button" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<!-- <h4 > {{bookable}}</h4> -->
<div *ngFor="let day of daysBookable | async">
  Number of days bookable :
  <input type="number" [(ngModel)]='day.bookableDays' #num>
  <input type="submit" value="change" (click)="change(num.value)">
  <p>Only {{day.bookableDays}} staff members may book the same day off</p>
</div>


<!-- calendar -->
<div class="ml3">
  <div class="w-100">
  <!-- navigate through the calendars months -->
  <div class="center">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          <div
            class="button"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Previous
          </div>
          <div
            class="button"
            mwlCalendarToday
            [(viewDate)]="viewDate">
            Today
          </div>
          <div
            class="button"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Next
          </div>
  </div>
</div>
  <hr/>
  <!-- Button to book days -->
  <div class="alert alert-info">
      Click on a day.
    <div *ngIf="clickedDate">You clicked on this day:{{ clickedDate | date:'medium' }}
      <button class="button" [disabled]='bookable' (click)="dayOffRequest(clickedDate)">Book this day</button>
      <button class="button" [disabled]='bookable' (click)="weekOffRequest(clickedDate)">Book this week</button>
    </div>
  </div>
    <hr/>

    <!-- calendar with its event array, draggable option, day clicked functions -->
    <div id="calendarConatainer" class="fl w-100">
    <mwl-calendar-month-view
    class="pl8"
        [viewDate]="viewDate"
        [refresh]="refresh"
        [events]="holidays"
        (dayClicked)="clickedDate = $event.day.date"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
  </div>
</div>  