<app-nav id="nav"></app-nav>

<h1>managers page</h1>

<!-- {{ (departmentPbs | async)?.departments}} -->

<select [(ngModel)]="selected" (ngModelChange)="filerByDepartment(selected,rostersView,actions,refresh)">
        <option *ngFor="let d of departments"  [ngValue]=d>{{ d}}</option>
</select>


<button (click)="reset()">Reset</button>

<!-- <select [(ngModel)]="empSelected" (ngModelChange)="showCalendar(empSelected)">
        <option *ngFor="let user of users | async"  [ngValue]=user>{{user.email}}</option>
</select> -->

<table >
    <tr >
        <th>email</th>
        <th>Name</th>
        <th>id</th>
    </tr>

    <tr *ngFor="let user of users | async">
        <td>{{ user.email }}</td>
        <td>{{ user.displayName }}</td>
        <td>{{ user.uid }}</td>
        <td><input class="input"  ></td>
        <button class="button"> Save </button>
        <!-- {{ user.roster | json }} -->
    </tr>
           
</table>


   <div *ngIf='selected'>
    <label>{{selected}}</label>
        <mwl-calendar-month-view
            [viewDate]="viewDate"
            [refresh]="refresh"
            [events]="rostersView"
            (dayClicked)="clickedDate = $event.day.date"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (dragPointerDown)="dragStart(weekViewContainer, event)">
          </mwl-calendar-month-view>

    </div> 
        
    





