<app-nav id="nav"></app-nav>

<h1>managers page</h1>

<!-- {{ (departmentPbs | async)?.departments}} -->

<div class="">

<select class="select" [(ngModel)]="selected" (ngModelChange)="filerByDepartment(selected,rostersView,actions,refresh)">
        <option *ngFor="let d of departments"  [ngValue]=d>{{ d}}</option>
</select>

<button class="button" (click)="reset()">Reset</button>
</div>

<table class="">
    <tr >
        <!-- <th>email</th> -->
        <th class="">Name</th>
        <th *ngFor="let day of days">{{day}}</th>
        <!-- <th>id</th> -->
    </tr>

    <tr *ngFor="let user of users | async">
        <!-- <td>{{ user.email }}</td> -->
        <td class='ba'>{{ user.displayName }}</td>
        <td *ngFor='let day of days'></td>
        <!-- <td>{{ user.uid }}</td> -->
         <button class="button"> Save </button>
         <button class="button">Edit</button>
    </tr>
           
</table>


<div class="row text-center">
    <div class="col-md-4">
            <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
      <div class="btn-group">
        <div
          class="button"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div
          class="button"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </div>
        <div
          class="button"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="button"
          (click)="view = 'month'"
          [class.active]="view === 'month'">
          Month
        </div>
        <div
          class="button"
          (click)="view = 'week'"
          [class.active]="view === 'week'">
          Week
        </div>
      </div>
    </div>
  </div>



   <div *ngIf='selected'>
    <div [ngSwitch]='view'>
    <label >{{selected}}</label>
        <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [refresh]="refresh"
            [events]="rostersView"
            (dayClicked)="clickedDate = $event.day.date"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (dragPointerDown)="dragStart(weekViewContainer, event)">
          </mwl-calendar-month-view>

          <div *ngFor='let user of users | async'>
              <label>{{user.displayName}}</label>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="rostersView"
            [refresh]="refresh"
            (dayClicked)="clickedDate = $event.day.date"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (dragPointerDown)="dragStart(weekViewContainer, event)">
         </mwl-calendar-week-view>
        </div>
        </div>
    </div> 
        
    





