<app-nav id="nav"></app-nav>

<h1>Managers page</h1>


<div class="">
            <!-- filter by department -->
<select class="select" [(ngModel)]="selected" (ngModelChange)="filerByDepartment(selected,rostersView,actions,refresh)">
        <option *ngFor="let d of $departments |async"  [ngValue]=d.name>{{ d.name}}</option>
</select>
            <!-- reset filter -->
<button class="button" (click)="reset()">Reset</button>
            <!-- add department -->
<button class="button" (click)="createDepartmentModal(newD)">Add Department</button>
</div>

            <!-- modal form that updates user details, form is populated with the user to be updated details -->
<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Edit Staff Member</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form">
                <input formControlName="email" class="input" type="email" placeholder='email'>
                
                <input formControlName="displayName" class="input" type="text" placeholder="Display Name">
                
                <!-- <input formControlName="department" class="input" type="text" placeholder="Department"> -->

                <select formControlName="department" class="select">
                        <option *ngFor="let d of departments"  [ngValue]='d.name'>{{d.name}}</option>
                </select>

                <input formControlName="id" class="input" type="hidden">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="updateUser();c('close click')">Edit</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
</ng-template>

                              <!-- form to create a new department -->
<ng-template #newD let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Add Department</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="newDepartment">
                <input formControlName="department" class="input" type="text" placeholder='Department'>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="addDepartment(employees);c('close click')">Add</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
</ng-template>
    


                                                              <!-- User details  -->
<table class="">
    <tr >
         <th>email</th> 
         <th class="">Name</th>
         <th>Department</th>
         <th>id</th> 
    </tr>

    <tr *ngFor="let user of users | async">
        <td>{{ user.email }}</td> 
        <td class='ba'>{{ user.displayName }}</td>
        <td>{{user.department}}</td>
        <td>{{ user.uid }}</td> 
         <button class="button" (click)="open(content,user)">Edit</button>
    </tr>
           
</table> 


<!-- calendar -->
<!-- <div class="row text-center">
    <div class="col-md-4">
            <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
      <div class="btn-group">
        <div
          class="button"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div
          class="button"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </div>
        <div
          class="button"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="button"
          (click)="view = 'month'"
          [class.active]="view === 'month'">
          Month
        </div>
        <div
          class="button"
          (click)="view = 'week'"
          [class.active]="view === 'week'">
          Week
        </div>
      </div>
    </div>
  </div>



   <div *ngIf='selected'>
    <div [ngSwitch]='view'>
    <label >{{selected}}</label>
        <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [refresh]="refresh"
            [events]="rostersView"
            (dayClicked)="clickedDate = $event.day.date"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (dragPointerDown)="dragStart(weekViewContainer, event)">
          </mwl-calendar-month-view>

          <div *ngFor='let user of users | async'>
              <label>{{user.displayName}}</label>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="rostersView"
            [refresh]="refresh"
            (dayClicked)="clickedDate = $event.day.date"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (dragPointerDown)="dragStart(weekViewContainer, event)">
         </mwl-calendar-week-view>
        </div>
        </div>
    </div>  -->
        
    





